
/*.col {
	background: pink;
	height: 300px;
	border: 1px solid black;
}*/

html{
	padding-top: 50px;
	
}


body {
	
	font-family: Roboto;
	margin: auto;

}

/*.centro { margin-left: 50px;

	margin-right: 200px;*/
 }
/*.row { max-width: 700px; }*/

.coltop {
	margin-top: 20px;
}
/*#firstD { margin-top: 20px; }*/
.impD { font-weight: 700; }


/*.col-sm-12 {
	text-align: center;
}*/

/*.col-md-9 { 
	text-align: left;
 }*/
.bod {
	margin-top: 23px;
}

#name {
	font-family: Libre Baskerville;
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: .02rem;
	}

h1 + p {
	/*font-family: Roboto;*/
	font-size: .8rem;
}

.fecha {
	/*font-family: Roboto;*/
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .01rem;
	font-weight: 500;
	margin-bottom: 3px;
	
}

.seccion {
	/*font-family: Roboto;*/
	font-size: 12px;
	font-weight: 700;
	color: #297cbc;
	text-transform: uppercase;
}

.item1{  
	/*font-family: Roboto;*/
	font-weight: 400;
	margin-bottom: 3px;
}

.featureName {
	font-weight: 500;
	font-size: 1.25rem;
	color: #303030;
}

em {
	font-size: 1.15rem;
}

.content {
	font-family: Roboto;
	font-size: .9rem;
	/*letter-spacing: .01rem;*/
	font-weight: 500;
	color: #6a6a6b;

}


.contentright {
	font-size: .85rem;
	/*letter-spacing: .01rem;*/
	font-weight: 400;
	color: #6a6a6b;

}

.cright {
	padding-top: 28px;
}


ul {
	list-style: none;
	margin-left: -40px;
}

li {
	margin-top: 8px;
	line-height: .95rem;
}

.details { 
	line-height: 1rem; 
	font-size:  .75rem;
		}
.details > p {
	margin:0;

}

.item2 {
	font-weight: 700;
	font-size: .85rem;
	color: 686C6E;
}

.highlight { font-weight: 700; }



